<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center upper-header-container">
      <div class="d-flex align-items-center">
        <img src="assets/logos/logo-application.png" class="user-icon">
        <span class="application-name">Task Master</span>
      </div>
      <div class="d-flex align-items-center">
        <input type="search" class="search-bar-input" placeholder="Search for users, tasks, or keywords...">
        <mat-icon class="search-bar-icon" matRipple>search</mat-icon>
      </div>
      <div>
        <mat-icon class="upper-header-button" (click)="toggleFullscreen()">fullscreen</mat-icon>
        <mat-icon class="upper-header-button" matBadge="15" matBadgeColor="warn" matBadgeSize="small">notifications
        </mat-icon>
        <mat-icon class="upper-header-button">settings</mat-icon>
        <mat-icon class="upper-header-button">power_settings_new</mat-icon>
      </div>
    </div>
    <div class="col-12 m-0 p-0 lower-header-container">
      <div class="upper-lower-header-container d-flex flex-grow">
        <div class="avatar-container">
          <img src="assets/logos/avatar.png" class="avatar">
        </div>
        <span>
          <div class="user-name">Eleanor Anderson</div>
          <div class="user-role">Super Admin</div>
        </span>
      </div>
      <div class="lower-lower-header-container d-flex justify-content-start align-items-center">
        <div class="header-element d-flex justify-content-start align-items-center" style="padding-left: 140px"
             (click)="drawer.toggle()">
          <span class="header-element-title">Menu</span>
          <mat-icon>menu</mat-icon>
        </div>
        <div class="header-element d-flex justify-content-start align-items-center" [matMenuTriggerFor]="workspace">
          <span class="header-element-title">Workspace</span>
          <mat-icon>keyboard_arrow_down</mat-icon>
          <mat-menu #workspace="matMenu">
            <span>Workspace-1</span>
            <span>Workspace-2</span>
          </mat-menu>
        </div>
        <div class="header-element d-flex justify-content-start align-items-center" [matMenuTriggerFor]="recent">
          <span class="header-element-title">Recent</span>
          <mat-icon>keyboard_arrow_down</mat-icon>
          <mat-menu #recent="matMenu">
            <span>Workspace-1</span>
            <span>Workspace-2</span>
          </mat-menu>
        </div>
        <div class="header-element">
          <button class="create-element" matRipple>Create</button>
        </div>
      </div>
    </div>
    <div class="col-12 m-0 p-0">
      <mat-drawer-container [style.height.px]="sidenavHeight">
        <mat-drawer #drawer class="drawer-sidenav" mode="side">
          <div class="drawer-separator">Planning</div>
          <div class="drawer-element d-flex justify-content-start align-items-center" matRipple>
            <mat-icon class="drawer-element-icon">dashboard</mat-icon>
            <div class="drawer-element-title">Board</div>
          </div>
          <div class="drawer-element d-flex justify-content-start align-items-center" matRipple>
            <mat-icon class="drawer-element-icon">repeat</mat-icon>
            <div class="drawer-element-title">Backlog</div>
          </div>
          <div class="drawer-element d-flex justify-content-start align-items-center" matRipple>
            <mat-icon class="drawer-element-icon">swap_calls</mat-icon>
            <div class="drawer-element-title">Roadmap</div>
          </div>
          <div class="drawer-separator" style="margin-top: 20px">Developement</div>
          <div class="drawer-element d-flex justify-content-start align-items-center" matRipple>
            <mat-icon class="drawer-element-icon">low_priority</mat-icon>
            <div class="drawer-element-title">Active Sprint</div>
          </div>
          <div class="drawer-element d-flex justify-content-start align-items-center" matRipple>
            <mat-icon class="drawer-element-icon">view_column</mat-icon>
            <div class="drawer-element-title">Table</div>
          </div>
          <div class="drawer-element d-flex justify-content-start align-items-center" matRipple>
            <mat-icon class="drawer-element-icon">calendar_today</mat-icon>
            <div class="drawer-element-title">Calendar</div>
          </div>
          <div class="drawer-element d-flex justify-content-start align-items-center" matRipple>
            <mat-icon class="drawer-element-icon">supervisor_account</mat-icon>
            <div class="drawer-element-title">Members</div>
          </div>
          <div class="drawer-element d-flex justify-content-start align-items-center" matRipple>
            <mat-icon class="drawer-element-icon">report</mat-icon>
            <div class="drawer-element-title">Report</div>
          </div>
          <div class="drawer-element d-flex justify-content-start align-items-center" matRipple>
            <mat-icon class="drawer-element-icon">settings</mat-icon>
            <div class="drawer-element-title">settings</div>
          </div>
        </mat-drawer>
        <div class="sidenav-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eros diam, semper ornare fringilla at, pretium
          quis magna. Donec consequat molestie tortor, ac rutrum leo volutpat et. Nam euismod fringilla felis et
          finibus. Nam sed vulputate diam, a cursus risus. Nam tempus ullamcorper nisl sed consequat. Integer quis
          sagittis augue. Aenean condimentum auctor orci vel scelerisque. Mauris lacus libero, laoreet et laoreet non,
          vehicula nec orci. Aenean tempor euismod risus eget pretium. Nullam et arcu orci. Mauris tincidunt nunc
          gravida elit porta, at dignissim felis gravida. In sodales, erat quis molestie placerat, quam orci facilisis
          risus, at congue lectus arcu at risus. In suscipit et quam sed consequat. Sed sed nulla luctus lorem posuere
          lacinia.

          Nam tristique gravida ligula, in egestas justo sagittis id. Nam volutpat ipsum eu venenatis auctor. Mauris
          volutpat accumsan elit id imperdiet. Nulla laoreet, lectus ac varius imperdiet, diam orci dignissim nulla,
          volutpat dictum purus lectus ut nunc. Cras odio nibh, tempor quis nunc sit amet, euismod suscipit massa. Ut in
          diam ac justo viverra egestas. In vehicula nisl in enim sagittis, a faucibus urna accumsan. Sed congue tempor
          sodales. Suspendisse a vehicula mi. Donec in risus quis nunc fringilla lacinia eu aliquam nibh. Maecenas
          congue, lacus vel lacinia placerat, erat ante molestie est, at dignissim metus enim a augue. Quisque pharetra
          metus sapien, ut aliquam mauris dapibus quis. Morbi quis ornare nisi, at convallis enim. Cras ligula libero,
          interdum congue aliquam vitae, vulputate luctus odio.

          Curabitur tempor maximus ex quis blandit. Vivamus sed eros eget nisl tempor tincidunt. Quisque eget nulla
          quam. Nunc dictum eleifend orci, et consequat felis placerat a. Quisque eget facilisis metus, at finibus sem.
          Donec luctus sit amet ex sit amet efficitur. Ut eu hendrerit dolor. Ut quis viverra lacus. Integer convallis
          sed justo ut tempor. Nunc vulputate tempor ante, sit amet porta nisi feugiat vitae. Nulla vel vehicula nisi.
          Integer ut sollicitudin magna. Praesent fringilla sapien in laoreet ultrices. Mauris sit amet eros
          ullamcorper, sagittis libero eget, luctus nisi. Etiam luctus quis nisl at scelerisque. Nunc mollis ultricies
          mauris, at facilisis velit aliquet porta.

          Donec nec tempus turpis. In vestibulum sagittis maximus. Duis lacinia magna quis dolor pharetra, sit amet
          sollicitudin massa euismod. Donec elementum mi luctus neque placerat, blandit fringilla dui blandit. Vivamus
          placerat orci vitae sapien luctus, id dignissim justo lobortis. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Proin maximus blandit ante nec pharetra. Nulla blandit nisi in turpis mollis, non aliquet
          nulla condimentum. Fusce at ante sed ipsum eleifend cursus quis eget massa. Nunc vel sapien sed erat dapibus
          facilisis quis feugiat leo. Duis cursus dapibus nisi at rutrum. Curabitur eu vulputate lacus. Aenean urna
          arcu, dictum vel dictum eget, hendrerit nec lacus. Vivamus eu nisi finibus justo accumsan lacinia.

          Sed vehicula non erat sit amet condimentum. Maecenas non euismod tortor. Praesent vitae magna sit amet risus
          tristique facilisis. Aenean lobortis semper dui vitae ornare. Integer interdum tristique justo vitae luctus.
          Duis tincidunt nulla massa, ac lobortis neque vestibulum sit amet. Aenean porttitor leo sed leo tristique
          lacinia.


        </div>
      </mat-drawer-container>
    </div>
  </div>
</div>
